<div class="container-fluid">
    <div class="card-header">
        <h1>User List</h1>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-warning btn-sm" (click)="createUser()">New User</button>
            </div>
            <div class="col-6">
                <input class="form-control" type="text" name="search" [(ngModel)]="filter" placeholder="Search">
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
            <th scope="col">User name</th>
            <th scope="col">Password</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of userList | filter:filter">
            <th scope="row">{{u.id}}</th>
            <td>
                <ul *ngFor="let r of u.roles">
                    <li>
                        {{r.name}}
                    </li>
                </ul>
            </td>
            <td>{{u.email}}</td>
            <td>{{u.username}}</td>
            <td>{{u.password}}</td>
            <td>
                <button class="btn btn-success btn-sm" (click)="userDetail(u.id)"> Detail</button>
                <button class="btn btn-primary btn-sm" (click)="updateUser(u.id)"> Update</button>
                <button class="btn btn-danger btn-sm" (click)="deleteUser(u.id)"> Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
